<input [type]="tipo" name="txtnombre" [value]="valor"><br>
<img [src]="img" alt=""> <br>
<a [href]="enlace">El comercio</a>

<p [className]="clase01">
  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
  layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
</p>

<p [ngClass]="clase02">
  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
  literature from 45 BC, making it over 2000 years old.
</p>